html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 3vw; 
}

.box1 {
    background-color: #BDB76B;
    color: darkgreen;
}

.box2 {
    background-color: #F4C2C2;
    color: darkblue;
}